// Colors
$primary-color: #f26522;
$secondary-color: #1a8a0e;
$primaryFont-color: #ffffff;
$secondaryFont-color2: #011851;
$background-color: #efeff0;
$background-color2:beige;

// Font sizes
$base-font-size: 16px;
$heading-font-size: 24px;


// ---------------------------------
// _variables.scss
// Define variables for colors, fonts, spacing, etc.

